<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cotizador | Lista de Productos</title>

<!-- Bootstrap core CSS -->
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
	<nav class="navbar navbar-expand-lg bg-primary">
	  <div class="container-fluid">
	    <a class="navbar-brand text-white" th:href="@{/}">Cotizador</a>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarText">
	      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
	        <li class="nav-item">
	          <a class="nav-link text-white" aria-current="page" th:href="@{/productos/index}">Productos</a>
	        </li>
	      </ul>
	    </div>
	  </div>
	</nav>
	
	<div class="container">
		<div class="title p-5">
			<h1>Formulario de Productos</h1>
			<form th:action="@{/productos/save}" method="POST" th:object="${producto}">
			  <div class="mb-3">
			    <label for="nombre" class="form-label">Nombre</label>
			    <input type="text" class="form-control" id="nombre" name="nombre">
			  </div>
			  <div class="mb-3">
			    <label for="categoria" class="form-label">Categoria</label>
			    <input type="text" class="form-control" id="categoria" name="categoria">
			  </div>
			  <div class="mb-3">
			    <label for="fabricante" class="form-label">Fabricante</label>
			    <input type="text" class="form-control" id="fabricante" name="fabricante">
			  </div>

			  <button type="submit" class="btn btn-primary">Guardar</button>
			</form>
		</div>
	</div>
	
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
</body>
</html>